*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vdBlueMainBG: hsl(233, 47%, 7%);
  --ddBlueCardBG: hsl(244, 38%, 16%);
  --softVioletAccent: hsl(277, 64%, 61%);
  --whiteMainHStats: hsl(0, 0%, 100%);
  --stWhiteMP: hsla(0, 0%, 100%, 0.75);
  --stWhiteStatsH: hsla(0, 0%, 100%, 0.6);
}

body {
  display: flex;
  height: 100vh;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  background: var(--vdBlueMainBG);
  color: var(--whiteMainHStats);
  align-items: center;
  justify-content: center;
} 

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 80vw;
}

.container__image {
  display: flex;
  background: var(--softVioletAccent);
  grid-column-start: 2;
  border-radius: 0 0.5rem 0.5rem 0;
  -webkit-border-radius: 0 0.5rem 0.5rem 0;
}

.container__image--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.container__text {
  grid-column-start: 1;
  grid-row-start: 1;
  background: var(--ddBlueCardBG);
  border-radius: 0.5rem 0 0 0.5rem;
  -webkit-border-radius: 0.5rem 0 0 0.5rem;
  -moz-border-radius: 0.5rem 0 0 0.5rem;
  -ms-border-radius: 0.5rem 0 0 0.5rem;
  -o-border-radius: 0.5rem 0 0 0.5rem;
}






footer {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}